<div class="header"></div>
<!-- Edit Player Information -->
<div class="columns fourteen">
	<form action="/teams/<%= @team_id %>/<%= @player.id %>/edit" method="post">
		<div class="columns four offset-by-five">
			<div>
				<label for="name">Enter the Player's Name: </label>
				<input type="text" name="name" value="<%= @player.name %>" autofocus />
			</div>
			<div>
				<label for="age">Enter the Player's Age: </label>
				<input type="text" name="age" value="<%= @player.age %>" />
			</div>
			<div>
				<label for="nationality">Enter the Player's Country: </label>
				<input type="text" name="nationality" value="<%= @player.nationality %>" />
			</div>
		</div>
		<div class="row"></div>
		<input type="submit" value="Edit the Player!" />
	</form>
</div>
<!-- End Edit Player Information -->